html, body {
    font-family: helvetica;
    color: #5E5E5D;
    padding: 0;
    margin: 0;
}

a {
    color: #81C740;
    text-decoration: none;
}

header {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    background-color: #EBEBEB;
    background-color: #E6E6E6;
    width: 100%;
}

header h1 {
    text-align: center;
    font-size: 95px;
    color: #F2875C;
    margin-bottom: 20px;
    margin-top: 20px;
}

header ul {
    text-align: right;
    margin-top: 0;
    padding-top: 20px;
}

#content {
    overflow: auto;
}

#hero img {
    max-width: 60%;
    margin: auto;
    display: block;
    margin-bottom: 40px;
}

#col_1, #col_2 {
    width: 31%;
}

#col_1 {
    margin-left: 15%;
    float: left;
}

#col_2 {
    margin-right: 15%;
    float: right;
}

footer {
    margin-top: 40px;
    margin-bottom: 20px;
}

footer ul {
    margin: auto;
    display: block;
    margin-top: 40px;
    width: 335px;
}

.link-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

.link-menu a:hover {
    color: #F2875C;
}
